<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HTTPServerWithQuiescingDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NIOExtras.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NIOHTTPCompression.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NIOWritePCAPDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>swift-nio-extras-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CNIOExtrasZlib</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HTTPServerWithQuiescingDemo</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NIOExtras</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NIOExtrasTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NIOHTTPCompression</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NIOHTTPCompressionTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>NIOWritePCAPDemo</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
